<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div class="helloID">
  <h1 id="title"> MemberManager</h1>
</div>
<center>
  <div class="login">
    <div class="login-screen">
        <h6>회원 가입</h6>
    </div>
      <div class="login-form">
          <form action="regProc" method="post">
              <div class="control-group">
                  <input type="text" name="m_id" class="login-field"
                  placeholder="아이디" required>
              </div>
              <div class="control-group">
                  <input type="password" name="m_pwd" class="login=field"
                  placeholder="비밀번호" required>
              </div>
              <div class="control-group">
                  <input type="text" name="m_email" class="login-field"
                         placeholder="이메일" required>
              </div>
              <div class="control-group">
                  <input type="text" name="m_name" class="login-field"
                         placeholder="회사명" required>
              </div>
              <input type="submit" value="가입" class="btn">
              <a href="/" class="login-link">돌아가기</a>
          </form>
      </div>
  </div>
</center>
</body>
<script>
    let m = "${msg}";
    if (m != ""){
        alert(m);
    }
</script>
</html>